<?xml version="1.0"?>
<config>
    <modules>
        <Netmouse_Exchange1c>
            <version>0.1.0</version>
        </Netmouse_Exchange1c>
    </modules>
    <global>
        <models>
            <netmouse_exchange1c>
                <class>Netmouse_Exchange1c_Model</class>
            </netmouse_exchange1c>
        </models>
        <resources>
            <exchange1c_setup>
                <setup>
                    <module>Netmouse_Exchange1c</module>
                    <class>Netmouse_Exchange1c_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </exchange1c_setup>
        </resources>
        <helpers>
            <netmouse_exchange1c>
                <class>Netmouse_Exchange1c_Helper</class>
            </netmouse_exchange1c>
        </helpers>
    </global>
    <frontend>
        <routers>
            <Netmouse_Exchange1c>
                <use>standard</use>
                <args>
                    <module>Netmouse_Exchange1c</module>
                    <frontName>1c_exchange</frontName>
                </args>
            </Netmouse_Exchange1c>
        </routers>
    </frontend>
</config>